/* Global stylings here */

.gameWrapper {
    background: #e0e0e0;
    color: black;
    border-radius: 4px;
    padding: 8px;
    font-size: 12px;
    margin-top: 6px;
}

.gameTitle {
    padding-bottom: 20px;
}

.blue {
    color: #4f7ee6;
}

.red {
    color: #db3627;
}

#matchQueue {
    text-align: left;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 16px;
    font-family: Tahoma, sans-serif;
}

#matchRunner {
    font-family: Tahoma;
}

.removeButton {
    float: right;
}

.gameNum {
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    min-width: 60px;
}

.active-match {
    background: #ffffff;
    padding: 4px;
    border-radius: 4px;
}

.inactive-match {
    padding: 4px;
    cursor: pointer;
}

#mapEditor {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

form {
    text-align: center;
}

#gamearea canvas {
    max-height: calc(100vh - 75px);
    max-width: calc(100vw - 320px);
    margin-top:auto;
    margin-bottom:auto;
}

#gamearea {
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

#canvas-wrapper {
    margin-top: -75px;
    min-width: 569px;
    text-align: center;
    margin-right: 320px;
}

#export {
    font-size: 24px;
    width: 90%;
}

#root {
    font-family: tahoma;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0px;
}

input[type='file'] {
    display: none;
}

.custom-button {
    background-color: #bbb;
    border-color: #ddd;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    line-height: 1.25;
    padding: .4rem .8rem;
    margin: .1rem;
    border: 1px solid transparent;
}

.custom-button:hover {
    background-color: #bbb
}
.custom-button:active, button:target {
    background-color: #999;
}

#gamearea {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 75px;
    left: 320px;
    background: #333;
    background: -webkit-linear-gradient(#bbb, #333);
    background: -o-linear-gradient(#bbb, #333);
    background: -moz-linear-gradient(#bbb, #333);
    background: linear-gradient(#bbb, #333);
}

.teamHeader {
    padding: 14px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.tdLabel {
    font-family: "Graduate";
    text-align: right;
    padding: 5px;
}

.tdCount {
    padding-left: 10px;
    text-align: left;
}

#baseDiv {
    width: 100%;
    height: 55px;
    margin-left: 310px;
    position: fixed;
    z-index: 0.5;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    background-color: #444;
    padding: 10px;
}

#timelineCanvas {
    height: 32px;
    width: 400px;
    background-color: #777;
    display: inline-block;
}

#helpDiv {
    text-align: left;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    padding: 10px;
}

#sidebar {
    /* Positioning */
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

    /* Inner style */
    background-color: #151515;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: "Graduate";

    /* Inner formatting */
    padding: 10px;
}

#logo {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: "Graduate";
    padding-top: 15px;
    padding-bottom: 15px;
}

.console {
    font-family: Monospace;
    border-radius: 10px;
    background-color: #333;
    color: #46ff00;
    padding: 15px;
    margin: 0px 5px;
    font-size: 12px;
    text-align: left;
    overflow: scroll;
}

#splashSubtitle {
    font-size: 24px;
    font-family: Graduate;
    color: white;
    margin: 8px;
}

#splashTitle {
    font-size: 56px;
    font-family: Graduate;
    font-weight: bold;
    color: #e03636;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    margin: 0px;
}

#splashNewVersion {
    color: deepskyblue;

}

.mapInputBox {
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.mapInputLabel {
    text-align: right;
    margin-right: 12px;

}

#gameEditorHeaderTable {
    margin-left: 16px;
}

#mapListContainer {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 48px;

}

#mapsDiv {
    height: 200px;
    overflow: scroll;
}

#runMatch {
    width: 70%;
    font-size: 18px;
    padding: 8px 0px;
    margin: 8px 0px;
}

#robotLogs {
    height: 70vh;
}

#compileLogs {
    height: 120px;
}

.errorLog {
    color: red;
}

.slide-control {
    width: 110px;
    height: 8px;
    background-color: #222;
    overflow: visible;
    display:block;
    position: relative;
    margin-top: 12px;
}

.slide-control-button {
    position:absolute;
    z-index:2;
    width:24px;
    height:32px;
    left:62px;
    margin-left: -12px;
    top: -10px;
    bottom:-32px;
    border-radius: 8px;
    background: #eee;
}

.slide-control-button:hover {
    cursor: pointer;
}

.map-label {
    margin: 0px 36px;
    font-size: 14px;
    border: 1px solid #151515;
    padding: 3px 10px;
    text-align: left;
    background-color: #555;
}

.map-label:hover {
    cursor: pointer;
}

.map-label.selected {
    color: black;
    background-color: #46ff00;
}

#battlecode-splash {
    position: absolute;
    text-align: center;
    z-index: -1;
    overflow: hidden;
    margin-top: -39px;
    margin-left: -161px;
}

#stats-table {
    width: 100%;
}

#stats-table td {
    width: 25%;
    padding: .2em;
}

.stat-bar {
    height: 100%;
}

#star {
    margin-top: 1em;
    width: 40px;
}
